USE [master]
GO
/****** Object:  Database [ksf00691_team03]    Script Date: 07/10/2025 3:19:05 SA ******/
CREATE DATABASE [ksf00691_team03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ksf00691_team03', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\ksf00691_team03.mdf' , SIZE = 73728KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ksf00691_team03_log', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\ksf00691_team03_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ksf00691_team03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ksf00691_team03]
GO
/****** Object:  User [ksf00691_team03]    Script Date: 07/10/2025 3:19:05 SA ******/
CREATE USER [ksf00691_team03] FOR LOGIN [ksf00691_team03] WITH DEFAULT_SCHEMA=[ksf00691_team03]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ksf00691_team03]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ksf00691_team03]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ksf00691_team03]
GO
/****** Object:  Schema [ksf00691_team03]    Script Date: 07/10/2025 3:19:05 SA ******/
CREATE SCHEMA [ksf00691_team03]
GO
USE [ksf00691_team03]
GO
/****** Object:  Sequence [dbo].[Seq_InvoiceNumber]    Script Date: 07/10/2025 3:19:05 SA ******/
CREATE SEQUENCE [dbo].[Seq_InvoiceNumber] 
 AS [bigint]
 START WITH 100000
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 NO CACHE 
GO
/****** Object:  View [ksf00691_team03].[vw_Available_Seats]    Script Date: 07/10/2025 3:19:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ksf00691_team03].[vw_Available_Seats] AS
SELECT 
    s.Seat_ID,
    s.Seat_Number,
    sl.Row_Label,
    sl.Column_Number,
    sl.Seat_Type,
    sh.Showtime_ID,
    sh.Movie_ID,
    sh.Cinema_Room_ID,
    sh.Show_Date,
    sh.Start_Time,
    CASE 
        WHEN t.Ticket_ID IS NULL THEN 'Available'
        ELSE 'Booked'
    END as Status
FROM ksf00691_team03.[Seats] s
INNER JOIN ksf00691_team03.[Seat_Layout] sl ON s.Layout_ID = sl.Layout_ID
CROSS JOIN ksf00691_team03.[Showtimes] sh
LEFT JOIN ksf00691_team03.[Tickets] t 
    ON t.Seat_ID = s.Seat_ID 
    AND t.Showtime_ID = sh.Showtime_ID
    AND t.Status NOT IN ('Cancelled', 'Expired')
WHERE sh.Status = 'Scheduled'
    AND s.Is_Active = 1
    AND sl.Is_Active = 1

GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 07/10/2025 3:19:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[VehicleID] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[SlotID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalCost] [decimal](12, 2) NULL,
	[SpecialRequests] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[ServiceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[IsGuest] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[WorkOrderID] [int] NULL,
	[Rating] [tinyint] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[IsAnonymous] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[PartID] [int] NULL,
	[TechnicianID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[CenterID] [int] NOT NULL,
	[LastUpdated] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryParts]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryParts](
	[InventoryPartID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[MinimumStock] [int] NOT NULL,
	[LastUpdated] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__InventoryParts__F5FDE6D35C44F65E] PRIMARY KEY CLUSTERED 
(
	[InventoryPartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InvPart_InventoryPart] UNIQUE NONCLUSTERED 
(
	[InventoryID] ASC,
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[WorkOrderID] [int] NULL,
	[CustomerID] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[BookingID] [int] NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[OrderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceChecklistResults]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceChecklistResults](
	[ChecklistID] [int] NOT NULL,
	[Result] [nvarchar](50) NULL,
	[Comment] [nvarchar](250) NULL,
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[PartID] [int] NULL,
 CONSTRAINT [PK_MaintenanceChecklistResults] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceChecklists]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceChecklists](
	[ChecklistID] [int] IDENTITY(1,1) NOT NULL,
	[WorkOrderID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[VehicleModelPartID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChecklistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenancePolicies]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenancePolicies](
	[PolicyID] [int] IDENTITY(1,1) NOT NULL,
	[IntervalMonths] [int] NOT NULL,
	[IntervalKm] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ServiceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceReminders]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceReminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[DueMileage] [int] NULL,
	[DueDate] [date] NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ServiceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[ReadAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[ShippingAddress] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPCodes]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPCodes](
	[OTPID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OTPCode] [nvarchar](6) NOT NULL,
	[OTPType] [nvarchar](20) NOT NULL,
	[ContactInfo] [nvarchar](100) NOT NULL,
	[ExpiresAt] [datetime2](0) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[UsedAt] [datetime2](0) NULL,
	[AttemptCount] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[PartNumber] [nvarchar](50) NOT NULL,
	[PartName] [nvarchar](100) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[Rating] [decimal](3, 2) NULL,
	[ImageUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PartNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentCode] [nvarchar](50) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[PaidAt] [datetime2](0) NULL,
	[PaidByUserId] [int] NULL,
	[PaymentMethod] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PaymentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DiscountValue] [decimal](12, 2) NOT NULL,
	[DiscountType] [nvarchar](10) NOT NULL,
	[MinOrderAmount] [decimal](12, 2) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[MaxDiscount] [decimal](12, 2) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UsageLimit] [int] NULL,
	[UsageCount] [int] NOT NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Promotions_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCenters]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCenters](
	[CenterID] [int] IDENTITY(1,1) NOT NULL,
	[CenterName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCredits]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCredits](
	[CreditID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[QtyPurchased] [int] NOT NULL,
	[QtyRemaining] [int] NOT NULL,
	[ValidFrom] [date] NOT NULL,
	[ValidTo] [date] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PriceDiscount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CreditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceParts]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceParts](
	[ServiceID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[Notes] [nvarchar](200) NULL,
 CONSTRAINT [PK_ServiceParts] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC,
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceRequiredSkills]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRequiredSkills](
	[ServiceID] [int] NOT NULL,
	[SkillID] [int] NOT NULL,
 CONSTRAINT [PK_ServiceRequiredSkills] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC,
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technicians]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technicians](
	[TechnicianID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[Rating] [decimal](3, 2) NULL,
	[Position] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicianSkills]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicianSkills](
	[TechnicianID] [int] NOT NULL,
	[SkillID] [int] NOT NULL,
	[Notes] [nvarchar](200) NULL,
 CONSTRAINT [PK_TechnicianSkills] PRIMARY KEY CLUSTERED 
(
	[TechnicianID] ASC,
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicianTimeSlots]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicianTimeSlots](
	[TechnicianSlotID] [int] IDENTITY(1,1) NOT NULL,
	[TechnicianID] [int] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[SlotID] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[BookingID] [int] NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[SlotTime] [time](0) NOT NULL,
	[SlotLabel] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SlotTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPromotions]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPromotions](
	[UserPromotionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PromotionID] [int] NOT NULL,
	[UsedAt] [datetime2](0) NOT NULL,
	[DiscountAmount] [decimal](12, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[BookingID] [int] NULL,
	[OrderID] [int] NULL,
	[ServiceID] [int] NULL,
 CONSTRAINT [PK_UserPromotions] PRIMARY KEY CLUSTERED 
(
	[UserPromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[Gender] [nvarchar](6) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EmailVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[RefreshToken] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleModel]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModel](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nvarchar](100) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_VehicleModel] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_VehicleModel_Name_Brand] UNIQUE NONCLUSTERED 
(
	[ModelName] ASC,
	[Brand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleModelParts]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModelParts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ModelID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[IsCompatible] [bit] NOT NULL,
	[CompatibilityNotes] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_VehicleModelParts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_VehicleModelParts] UNIQUE NONCLUSTERED 
(
	[ModelID] ASC,
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[VIN] [nvarchar](17) NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[Color] [nvarchar](30) NULL,
	[CurrentMileage] [int] NOT NULL,
	[LastServiceDate] [date] NULL,
	[NextServiceDue] [date] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[PurchaseDate] [date] NULL,
	[ModelID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrderParts]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrderParts](
	[WorkOrderID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[QuantityUsed] [int] NOT NULL,
	[UnitCost] [decimal](10, 2) NOT NULL,
	[VehicleModelPartID] [int] NULL,
 CONSTRAINT [PK_WorkOrderParts] PRIMARY KEY CLUSTERED 
(
	[WorkOrderID] ASC,
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrders]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrders](
	[WorkOrderID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[TechnicianID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[CustomerID] [int] NULL,
	[VehicleID] [int] NULL,
	[CenterID] [int] NULL,
	[ServiceID] [int] NULL,
	[CurrentMileage] [int] NULL,
	[LicensePlate] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_ServiceID]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_ServiceID] ON [dbo].[Bookings]
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Customers_UserID_NotNull]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Customers_UserID_NotNull] ON [dbo].[Customers]
(
	[UserID] ASC
)
WHERE ([UserID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_Customer]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_Customer] ON [dbo].[Feedbacks]
(
	[CustomerID] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_Order]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_Order] ON [dbo].[Feedbacks]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_WorkOrder]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_WorkOrder] ON [dbo].[Feedbacks]
(
	[WorkOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Inv_Center]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Inv_Center] ON [dbo].[Inventory]
(
	[CenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryParts_InventoryID]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_InventoryParts_InventoryID] ON [dbo].[InventoryParts]
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryParts_PartID]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_InventoryParts_PartID] ON [dbo].[InventoryParts]
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_Booking]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Booking] ON [dbo].[Invoices]
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_OrderID]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_OrderID] ON [dbo].[Invoices]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_Status]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Status] ON [dbo].[Invoices]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MR_ServiceID]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_MR_ServiceID] ON [dbo].[MaintenanceReminders]
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderID]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderID] ON [dbo].[OrderItems]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_PartID]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_PartID] ON [dbo].[OrderItems]
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CreatedAt]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CreatedAt] ON [dbo].[Orders]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerID]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerID] ON [dbo].[Orders]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Created]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Created] ON [dbo].[Payments]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Status] ON [dbo].[Payments]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Promotions_ActiveDate]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_ActiveDate] ON [dbo].[Promotions]
(
	[StartDate] ASC,
	[EndDate] ASC
)
WHERE ([Status]=N'ACTIVE')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Promotions_StatusDates]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_StatusDates] ON [dbo].[Promotions]
(
	[Status] ASC,
	[StartDate] ASC,
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceCredits_Customer_Service]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_ServiceCredits_Customer_Service] ON [dbo].[ServiceCredits]
(
	[CustomerID] ASC,
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceCredits_Validity]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_ServiceCredits_Validity] ON [dbo].[ServiceCredits]
(
	[ServiceID] ASC,
	[ValidTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SRS_SkillID]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_SRS_SkillID] ON [dbo].[ServiceRequiredSkills]
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Skills_Name]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Skills_Name] ON [dbo].[Skills]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Staffs_User_Active]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Staffs_User_Active] ON [dbo].[Staff]
(
	[UserID] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Technicians_User_Active]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Technicians_User_Active] ON [dbo].[Technicians]
(
	[UserID] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TTS_DateSlot]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_TTS_DateSlot] ON [dbo].[TechnicianTimeSlots]
(
	[WorkDate] ASC,
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TTS_TechDateSlot]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TTS_TechDateSlot] ON [dbo].[TechnicianTimeSlots]
(
	[TechnicianID] ASC,
	[WorkDate] ASC,
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPromotions_Customer]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserPromotions_Customer] ON [dbo].[UserPromotions]
(
	[CustomerID] ASC,
	[UsedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPromotions_Promotion]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserPromotions_Promotion] ON [dbo].[UserPromotions]
(
	[PromotionID] ASC,
	[UsedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPromotions_Service]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserPromotions_Service] ON [dbo].[UserPromotions]
(
	[ServiceID] ASC,
	[UsedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserPromotions_Promo_Booking]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_UserPromotions_Promo_Booking] ON [dbo].[UserPromotions]
(
	[PromotionID] ASC,
	[BookingID] ASC
)
WHERE ([BookingID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserPromotions_Promo_Order]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_UserPromotions_Promo_Order] ON [dbo].[UserPromotions]
(
	[PromotionID] ASC,
	[OrderID] ASC
)
WHERE ([OrderID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WOP_VehicleModelPartID]    Script Date: 07/10/2025 3:19:06 SA ******/
CREATE NONCLUSTERED INDEX [IX_WOP_VehicleModelPartID] ON [dbo].[WorkOrderParts]
(
	[VehicleModelPartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Book_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Book_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Book_Updated]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_IsGuest]  DEFAULT ((1)) FOR [IsGuest]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inv_Last]  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[InventoryParts] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[InventoryParts] ADD  DEFAULT ((0)) FOR [MinimumStock]
GO
ALTER TABLE [dbo].[InventoryParts] ADD  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Inv_Status]  DEFAULT (N'DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Inv_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MaintenanceChecklists] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MaintenancePolicies] ADD  CONSTRAINT [DF_MaintenancePolicies_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MaintenanceReminders] ADD  CONSTRAINT [DF_MR_IsCompleted]  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[MaintenanceReminders] ADD  CONSTRAINT [DF_MR_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Noti_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[OTPCodes] ADD  CONSTRAINT [DF_OTPCodes_IsUsed]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[OTPCodes] ADD  CONSTRAINT [DF_OTPCodes_Attempt]  DEFAULT ((0)) FOR [AttemptCount]
GO
ALTER TABLE [dbo].[OTPCodes] ADD  CONSTRAINT [DF_OTPCodes_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parts] ADD  CONSTRAINT [DF_Parts_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Parts] ADD  CONSTRAINT [DF_Parts_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Pay_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Pay_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Pay_PaymentMethod]  DEFAULT ('PAYOS') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_UsageCount]  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[ServiceCenters] ADD  CONSTRAINT [DF_Centers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceCenters] ADD  CONSTRAINT [DF_Centers_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceCredits] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceCredits] ADD  CONSTRAINT [DF_ServiceCredits_PriceDiscount]  DEFAULT ((0)) FOR [PriceDiscount]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_Settings_Updated]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Tech_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Tech_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] ADD  CONSTRAINT [DF_TTS_IsAvail]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] ADD  CONSTRAINT [DF_TTS_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  CONSTRAINT [DF_TimeSlots_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserPromotions] ADD  CONSTRAINT [DF_UserPromotions_UsedAt]  DEFAULT (sysdatetime()) FOR [UsedAt]
GO
ALTER TABLE [dbo].[UserPromotions] ADD  CONSTRAINT [DF_UserPromotions_Status]  DEFAULT (N'USED') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_EmailVerified]  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VehicleModel] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VehicleModel] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VehicleModelParts] ADD  DEFAULT ((1)) FOR [IsCompatible]
GO
ALTER TABLE [dbo].[VehicleModelParts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vehicles] ADD  CONSTRAINT [DF_Vehicles_Mileage]  DEFAULT ((0)) FOR [CurrentMileage]
GO
ALTER TABLE [dbo].[Vehicles] ADD  CONSTRAINT [DF_Vehicles_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkOrders] ADD  CONSTRAINT [DF_WO_Status]  DEFAULT (N'NOT_STARTED') FOR [Status]
GO
ALTER TABLE [dbo].[WorkOrders] ADD  CONSTRAINT [DF_WO_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkOrders] ADD  CONSTRAINT [DF_WO_Updated]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_Centers] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_Centers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_Customers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_Slot] FOREIGN KEY([SlotID])
REFERENCES [dbo].[TimeSlots] ([SlotID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_Slot]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_Vehicles]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Services_ServiceID] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Services_ServiceID]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Customers]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Orders]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Parts]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Technicians] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Technicians]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_WorkOrders] FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WorkOrders] ([WorkOrderID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_WorkOrders]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inv_Centers] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inv_Centers]
GO
ALTER TABLE [dbo].[InventoryParts]  WITH CHECK ADD  CONSTRAINT [FK_InvPart_Inventory] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[InventoryParts] CHECK CONSTRAINT [FK_InvPart_Inventory]
GO
ALTER TABLE [dbo].[InventoryParts]  WITH CHECK ADD  CONSTRAINT [FK_InvPart_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[InventoryParts] CHECK CONSTRAINT [FK_InvPart_Parts]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Bookings]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Orders]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_WorkOrders] FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WorkOrders] ([WorkOrderID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_WorkOrders]
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults]  WITH CHECK ADD FOREIGN KEY([ChecklistID])
REFERENCES [dbo].[MaintenanceChecklists] ([ChecklistID])
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults]  WITH CHECK ADD  CONSTRAINT [FK_MCR_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults] CHECK CONSTRAINT [FK_MCR_Parts]
GO
ALTER TABLE [dbo].[MaintenanceChecklists]  WITH CHECK ADD FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WorkOrders] ([WorkOrderID])
GO
ALTER TABLE [dbo].[MaintenanceChecklists]  WITH CHECK ADD  CONSTRAINT [FK_MChecklist_VehicleModelParts] FOREIGN KEY([VehicleModelPartID])
REFERENCES [dbo].[VehicleModelParts] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MaintenanceChecklists] CHECK CONSTRAINT [FK_MChecklist_VehicleModelParts]
GO
ALTER TABLE [dbo].[MaintenancePolicies]  WITH CHECK ADD  CONSTRAINT [FK_MaintenancePolicies_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[MaintenancePolicies] CHECK CONSTRAINT [FK_MaintenancePolicies_Services]
GO
ALTER TABLE [dbo].[MaintenanceReminders]  WITH CHECK ADD  CONSTRAINT [FK_MR_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[MaintenanceReminders] CHECK CONSTRAINT [FK_MR_Services]
GO
ALTER TABLE [dbo].[MaintenanceReminders]  WITH CHECK ADD  CONSTRAINT [FK_MR_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[MaintenanceReminders] CHECK CONSTRAINT [FK_MR_Vehicles]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Noti_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Noti_Users]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Parts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[OTPCodes]  WITH CHECK ADD  CONSTRAINT [FK_OTPCodes_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OTPCodes] CHECK CONSTRAINT [FK_OTPCodes_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoices]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PaidByUser] FOREIGN KEY([PaidByUserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PaidByUser]
GO
ALTER TABLE [dbo].[ServiceCredits]  WITH CHECK ADD  CONSTRAINT [FK_SC_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[ServiceCredits] CHECK CONSTRAINT [FK_SC_Customer]
GO
ALTER TABLE [dbo].[ServiceCredits]  WITH CHECK ADD  CONSTRAINT [FK_SC_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[ServiceCredits] CHECK CONSTRAINT [FK_SC_Service]
GO
ALTER TABLE [dbo].[ServiceParts]  WITH CHECK ADD  CONSTRAINT [FK_SP_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[ServiceParts] CHECK CONSTRAINT [FK_SP_Parts]
GO
ALTER TABLE [dbo].[ServiceParts]  WITH CHECK ADD  CONSTRAINT [FK_SP_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[ServiceParts] CHECK CONSTRAINT [FK_SP_Services]
GO
ALTER TABLE [dbo].[ServiceRequiredSkills]  WITH CHECK ADD  CONSTRAINT [FK_SRS_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceRequiredSkills] CHECK CONSTRAINT [FK_SRS_Services]
GO
ALTER TABLE [dbo].[ServiceRequiredSkills]  WITH CHECK ADD  CONSTRAINT [FK_SRS_Skills] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceRequiredSkills] CHECK CONSTRAINT [FK_SRS_Skills]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Centers] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Centers]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Users]
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [FK_Tech_Centers] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [FK_Tech_Centers]
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [FK_Tech_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [FK_Tech_Users]
GO
ALTER TABLE [dbo].[TechnicianSkills]  WITH CHECK ADD  CONSTRAINT [FK_TechSkills_Skills] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TechnicianSkills] CHECK CONSTRAINT [FK_TechSkills_Skills]
GO
ALTER TABLE [dbo].[TechnicianSkills]  WITH CHECK ADD  CONSTRAINT [FK_TechSkills_Technicians] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TechnicianSkills] CHECK CONSTRAINT [FK_TechSkills_Technicians]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_TTS_Slot] FOREIGN KEY([SlotID])
REFERENCES [dbo].[TimeSlots] ([SlotID])
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] CHECK CONSTRAINT [FK_TTS_Slot]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_TTS_Tech] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] CHECK CONSTRAINT [FK_TTS_Tech]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_BookingID] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_BookingID]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH NOCHECK ADD  CONSTRAINT [FK_UserPromotions_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Bookings]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Customers]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH NOCHECK ADD  CONSTRAINT [FK_UserPromotions_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Orders]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Promotions] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Promotions]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Services]
GO
ALTER TABLE [dbo].[VehicleModelParts]  WITH CHECK ADD  CONSTRAINT [FK_VehicleModelParts_Model] FOREIGN KEY([ModelID])
REFERENCES [dbo].[VehicleModel] ([ModelID])
GO
ALTER TABLE [dbo].[VehicleModelParts] CHECK CONSTRAINT [FK_VehicleModelParts_Model]
GO
ALTER TABLE [dbo].[VehicleModelParts]  WITH CHECK ADD  CONSTRAINT [FK_VehicleModelParts_Part] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[VehicleModelParts] CHECK CONSTRAINT [FK_VehicleModelParts_Part]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Customers]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_VehicleModel] FOREIGN KEY([ModelID])
REFERENCES [dbo].[VehicleModel] ([ModelID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_VehicleModel]
GO
ALTER TABLE [dbo].[WorkOrderParts]  WITH CHECK ADD  CONSTRAINT [FK_WOP_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[WorkOrderParts] CHECK CONSTRAINT [FK_WOP_Parts]
GO
ALTER TABLE [dbo].[WorkOrderParts]  WITH CHECK ADD  CONSTRAINT [FK_WOP_VehicleModelParts] FOREIGN KEY([VehicleModelPartID])
REFERENCES [dbo].[VehicleModelParts] ([ID])
GO
ALTER TABLE [dbo].[WorkOrderParts] CHECK CONSTRAINT [FK_WOP_VehicleModelParts]
GO
ALTER TABLE [dbo].[WorkOrderParts]  WITH CHECK ADD  CONSTRAINT [FK_WOP_WorkOrders] FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WorkOrders] ([WorkOrderID])
GO
ALTER TABLE [dbo].[WorkOrderParts] CHECK CONSTRAINT [FK_WOP_WorkOrders]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WO_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [FK_WO_Bookings]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WO_Centers] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [FK_WO_Centers]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WO_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [FK_WO_Customers]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WO_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [FK_WO_Services]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WO_Technicians] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [FK_WO_Technicians]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WO_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [FK_WO_Vehicles]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CK_OrderItems_Quantity_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CK_OrderItems_Quantity_Positive]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CK_OrderItems_UnitPrice_NonNegative] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CK_OrderItems_UnitPrice_NonNegative]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [CK_UserPromotions_Amount] CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [CK_UserPromotions_Amount]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [CK_UserPromotions_Status] CHECK  (([Status]='SAVED' OR [Status]='APPLIED' OR [Status]='USED'))
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [CK_UserPromotions_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Gender] CHECK  (([Gender] IS NULL OR (upper([Gender])=N'FEMALE' OR upper([Gender])=N'MALE')))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Gender]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [CK_Vehicles_Mileage] CHECK  (([CurrentMileage]>=(0)))
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [CK_Vehicles_Mileage]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [CK_WO_Status] CHECK  (([Status]=N'ON_HOLD' OR [Status]=N'COMPLETED' OR [Status]=N'IN_PROGRESS' OR [Status]=N'NOT_STARTED'))
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [CK_WO_Status]
GO
/****** Object:  StoredProcedure [dbo].[sp_Invoice_CreateSupplementalFromProposal]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Invoice_CreateSupplementalFromProposal]
  @ProposalID INT,
  @ParentInvoiceID INT = NULL,
  @NewInvoiceID INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;

  /* 0) Validate proposal */
  DECLARE @WOID INT;
  SELECT @WOID = p.WorkOrderID
  FROM dbo.WorkOrderChargeProposals p
  WHERE p.ProposalID=@ProposalID AND p.Status='APPROVED';
  IF @WOID IS NULL
    THROW 51110, 'Proposal khong ton tai hoac chua APPROVED', 1;

  /* 1) Detect InvoiceNumber column (exists? nullable? string?) */
  DECLARE @HasInvNo BIT = 0, @InvNoNullable BIT = 1, @InvNoIsString BIT = 0;
  SELECT
    @HasInvNo = 1,
    @InvNoNullable = c.is_nullable,
    @InvNoIsString = CASE WHEN t.name IN ('nvarchar','varchar','nchar','char','text','ntext') THEN 1 ELSE 0 END
  FROM sys.columns c
  JOIN sys.types   t ON t.user_type_id = c.user_type_id
  WHERE c.object_id = OBJECT_ID('dbo.Invoices') AND c.name = 'InvoiceNumber';

  /* 2) Generate InvoiceNumber if required (exists & NOT NULL) */
  DECLARE @InvNoNumeric BIGINT = NULL;
  DECLARE @InvNoText NVARCHAR(100) = NULL;

  IF @HasInvNo = 1 AND @InvNoNullable = 0
  BEGIN
    SET @InvNoNumeric = NEXT VALUE FOR dbo.Seq_InvoiceNumber;
    IF @InvNoIsString = 1
    BEGIN
      /* Correct quoting here: single '0' only */
      SET @InvNoText = N'INV-' + CONVERT(NVARCHAR(8), GETDATE(), 112)
                     + N'-' + RIGHT(REPLICATE('0', 5) + CAST(@InvNoNumeric AS NVARCHAR(20)), 5);
    END
  END

  /* 3) Insert header (dynamic for InvoiceNumber presence) */
  IF @HasInvNo = 1 AND @InvNoNullable = 0
  BEGIN
    IF @InvNoIsString = 1
    BEGIN
      INSERT INTO dbo.Invoices(InvoiceNumber, InvoiceType, ParentInvoiceID, CreatedAt, TotalAmount)
      VALUES(@InvNoText, 'SUPPLEMENTAL', @ParentInvoiceID, sysdatetime(), 0);
    END
    ELSE
    BEGIN
      INSERT INTO dbo.Invoices(InvoiceNumber, InvoiceType, ParentInvoiceID, CreatedAt, TotalAmount)
      VALUES(@InvNoNumeric, 'SUPPLEMENTAL', @ParentInvoiceID, sysdatetime(), 0);
    END
  END
  ELSE
  BEGIN
    INSERT INTO dbo.Invoices(InvoiceType, ParentInvoiceID, CreatedAt, TotalAmount)
    VALUES('SUPPLEMENTAL', @ParentInvoiceID, sysdatetime(), 0);
  END

  SET @NewInvoiceID = SCOPE_IDENTITY();

  /* 4) Insert lines: Parts */
  IF COL_LENGTH('dbo.Parts','PartName') IS NOT NULL
  BEGIN
    INSERT INTO dbo.InvoiceItems(InvoiceID, PartID, Description, Quantity, UnitPrice, LineTotal)
    SELECT @NewInvoiceID, i.PartID, p.PartName, i.Quantity, i.UnitPrice, i.Quantity*i.UnitPrice
    FROM dbo.WorkOrderChargeProposalItems i
    JOIN dbo.Parts p ON p.PartID=i.PartID
    WHERE i.ProposalID=@ProposalID AND i.PartID IS NOT NULL;
  END
  ELSE
  BEGIN
    INSERT INTO dbo.InvoiceItems(InvoiceID, PartID, Description, Quantity, UnitPrice, LineTotal)
    SELECT @NewInvoiceID, i.PartID, CONVERT(NVARCHAR(300), i.PartID), i.Quantity, i.UnitPrice, i.Quantity*i.UnitPrice
    FROM dbo.WorkOrderChargeProposalItems i
    WHERE i.ProposalID=@ProposalID AND i.PartID IS NOT NULL;
  END

  /* 5) Insert lines: Labor (PartID NULL) */
  INSERT INTO dbo.InvoiceItems(InvoiceID, PartID, Description, Quantity, UnitPrice, LineTotal)
  SELECT @NewInvoiceID, NULL, ISNULL(i.Description, N'Labor'), i.Quantity, i.UnitPrice, i.Quantity*i.UnitPrice
  FROM dbo.WorkOrderChargeProposalItems i
  WHERE i.ProposalID=@ProposalID AND i.PartID IS NULL;

  /* 6) Recalculate total */
  UPDATE inv
  SET inv.TotalAmount = x.SumLines
  FROM dbo.Invoices inv
  JOIN (SELECT InvoiceID, SUM(LineTotal) AS SumLines
        FROM dbo.InvoiceItems GROUP BY InvoiceID) x
    ON x.InvoiceID=inv.InvoiceID
  WHERE inv.InvoiceID=@NewInvoiceID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_WO_ApproveProposal]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_WO_ApproveProposal]
  @ProposalID INT,
  @ApprovedBy NVARCHAR(100)
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.WorkOrderChargeProposals
  SET Status='APPROVED', ApprovedAt=sysdatetime(), ApprovedBy=@ApprovedBy
  WHERE ProposalID=@ProposalID AND Status='PENDING';
  IF @@ROWCOUNT=0 THROW 51100, 'Proposal khong ton tai hoac khong o PENDING', 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_WO_CreateProposal]    Script Date: 07/10/2025 3:19:06 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_WO_CreateProposal]
  @WorkOrderID INT,
  @Note NVARCHAR(500) = NULL,
  @ProposalID INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO dbo.WorkOrderChargeProposals(WorkOrderID, Note) VALUES(@WorkOrderID, @Note);
  SET @ProposalID = SCOPE_IDENTITY();
END
GO
USE [master]
GO
