/****** Object:  Database [evs-service-center-db]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE DATABASE [evs-service-center-db]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Schema [ksf00691_team03]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE SCHEMA [ksf00691_team03]
GO
/****** Object:  Sequence [dbo].[Seq_InvoiceNumber]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE SEQUENCE [dbo].[Seq_InvoiceNumber] 
 AS [bigint]
 START WITH 100000
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 NO CACHE 
GO
/****** Object:  UserDefinedFunction [dbo].[GetVietnamTime]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo function để luôn trả về giờ Việt Nam
CREATE FUNCTION [dbo].[GetVietnamTime]()
RETURNS DATETIME2
AS
BEGIN
    RETURN DATEADD(HOUR, 7, GETUTCDATE())
END

GO
/****** Object:  View [dbo].[VietnamTime]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo view để luôn hiển thị giờ Việt Nam
CREATE VIEW [dbo].[VietnamTime] AS
SELECT 
    GETDATE() AS 'SQL_Server_Time',
    DATEADD(HOUR, 7, GETUTCDATE()) AS 'Vietnam_Time',
    GETUTCDATE() AS 'UTC_Time'

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[VehicleID] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SpecialRequests] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[ServiceID] [int] NULL,
	[CurrentMileage] [int] NULL,
	[LicensePlate] [nvarchar](20) NULL,
	[AppliedCreditId] [int] NULL,
	[TechnicianSlotId] [int] NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationMembers]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationMembers](
	[MemberID] [bigint] IDENTITY(1,1) NOT NULL,
	[ConversationID] [bigint] NOT NULL,
	[UserID] [int] NULL,
	[GuestSessionID] [nvarchar](64) NULL,
	[RoleInConversation] [varchar](16) NOT NULL,
	[LastReadAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ConversationMembers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[ConversationID] [bigint] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](255) NULL,
	[LastMessageID] [bigint] NULL,
	[LastMessageAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[ConversationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[IsGuest] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerServiceCredits]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerServiceCredits](
	[CreditId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[PackageId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[TotalCredits] [int] NOT NULL,
	[UsedCredits] [int] NULL,
	[PurchaseDate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[RemainingCredits]  AS ([TotalCredits]-[UsedCredits]) PERSISTED,
 CONSTRAINT [PK_CustomerServiceCredits] PRIMARY KEY CLUSTERED 
(
	[CreditId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[Rating] [tinyint] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[IsAnonymous] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[PartID] [int] NULL,
	[TechnicianID] [int] NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[CenterID] [int] NOT NULL,
	[LastUpdated] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryParts]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryParts](
	[InventoryPartID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[MinimumStock] [int] NOT NULL,
	[LastUpdated] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_InventoryParts] PRIMARY KEY CLUSTERED 
(
	[InventoryPartID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InventoryParts_InventoryPart] UNIQUE NONCLUSTERED 
(
	[InventoryID] ASC,
	[PartID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[WorkOrderID] [int] NULL,
	[CustomerID] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[BookingID] [int] NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[OrderID] [int] NULL,
	[PackageDiscountAmount] [decimal](12, 2) NOT NULL,
	[PromotionDiscountAmount] [decimal](12, 2) NOT NULL,
	[PartsAmount] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceChecklistResults]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceChecklistResults](
	[ChecklistID] [int] NOT NULL,
	[Result] [nvarchar](50) NULL,
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CategoryID] [int] NULL,
 CONSTRAINT [PK_MaintenanceChecklistResults] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceChecklists]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceChecklists](
	[ChecklistID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[TemplateId] [int] NOT NULL,
	[BookingID] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MaintenanceChecklists] PRIMARY KEY CLUSTERED 
(
	[ChecklistID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceReminders]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceReminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[DueMileage] [int] NULL,
	[DueDate] [date] NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ServiceID] [int] NULL,
	[Type] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL,
	[CadenceDays] [int] NULL,
	[LastSentAt] [datetime2](7) NULL,
	[PackageId] [int] NULL,
	[UsageIndex] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_MaintenanceReminders] PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [bigint] IDENTITY(1,1) NOT NULL,
	[ConversationID] [bigint] NOT NULL,
	[SenderUserID] [int] NULL,
	[SenderGuestSessionID] [nvarchar](64) NULL,
	[Content] [nvarchar](max) NULL,
	[AttachmentUrl] [nvarchar](1000) NULL,
	[ReplyToMessageID] [bigint] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[ReadAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[ShippingAddress] [nvarchar](255) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPCodes]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPCodes](
	[OTPID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OTPCode] [nvarchar](6) NOT NULL,
	[OTPType] [nvarchar](20) NOT NULL,
	[ContactInfo] [nvarchar](100) NOT NULL,
	[ExpiresAt] [datetime2](0) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[UsedAt] [datetime2](0) NULL,
	[AttemptCount] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_OTPCodes] PRIMARY KEY CLUSTERED 
(
	[OTPID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartCategories]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ParentId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartCategoryMaps]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartCategoryMaps](
	[PartId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsPrimary] [bit] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_PartCategoryMaps] PRIMARY KEY CLUSTERED 
(
	[PartId] ASC,
	[CategoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[PartNumber] [nvarchar](50) NOT NULL,
	[PartName] [nvarchar](100) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[Rating] [decimal](3, 2) NULL,
	[ImageUrl] [nvarchar](255) NULL,
 CONSTRAINT [PK_Parts] PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Parts_PartNumber] UNIQUE NONCLUSTERED 
(
	[PartNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentCode] [nvarchar](50) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[PaidAt] [datetime2](0) NULL,
	[PaidByUserID] [int] NULL,
	[PaymentMethod] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Payments_PaymentCode] UNIQUE NONCLUSTERED 
(
	[PaymentCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DiscountValue] [decimal](12, 2) NOT NULL,
	[DiscountType] [nvarchar](10) NOT NULL,
	[MinOrderAmount] [decimal](12, 2) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[MaxDiscount] [decimal](12, 2) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UsageLimit] [int] NULL,
	[UsageCount] [int] NOT NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Promotions_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ServiceCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCenters]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCenters](
	[CenterID] [int] IDENTITY(1,1) NOT NULL,
	[CenterName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](10) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ServiceCenters] PRIMARY KEY CLUSTERED 
(
	[CenterID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceChecklistTemplateItems]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceChecklistTemplateItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_ServiceChecklistTemplateItems] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceChecklistTemplates]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceChecklistTemplates](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[TemplateName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[MinKm] [int] NULL,
	[MaxDate] [int] NULL,
	[MaxOverdueDays] [int] NULL,
 CONSTRAINT [PK_ServiceChecklistTemplates] PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ServiceChecklistTemplates_ServiceId_TemplateName] UNIQUE NONCLUSTERED 
(
	[ServiceID] ASC,
	[TemplateName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePackages]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePackages](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [nvarchar](100) NOT NULL,
	[PackageCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ServiceId] [int] NOT NULL,
	[TotalCredits] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[IsActive] [bit] NULL,
	[ValidFrom] [datetime] NULL,
	[ValidTo] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_ServicePackages] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PackageCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CategoryID] [int] NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technicians]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technicians](
	[TechnicianID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[Rating] [decimal](3, 2) NULL,
	[Position] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Technicians] PRIMARY KEY CLUSTERED 
(
	[TechnicianID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicianTimeSlots]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicianTimeSlots](
	[TechnicianSlotID] [int] IDENTITY(1,1) NOT NULL,
	[TechnicianID] [int] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[SlotID] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[BookingID] [int] NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_TechnicianTimeSlots] PRIMARY KEY CLUSTERED 
(
	[TechnicianSlotID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[SlotTime] [time](0) NOT NULL,
	[SlotLabel] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TimeSlots] PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TimeSlots_SlotTime] UNIQUE NONCLUSTERED 
(
	[SlotTime] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPromotions]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPromotions](
	[UserPromotionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PromotionID] [int] NOT NULL,
	[UsedAt] [datetime2](0) NOT NULL,
	[DiscountAmount] [decimal](12, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[BookingID] [int] NULL,
	[OrderID] [int] NULL,
	[ServiceID] [int] NULL,
 CONSTRAINT [PK_UserPromotions] PRIMARY KEY CLUSTERED 
(
	[UserPromotionID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[Gender] [nvarchar](6) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EmailVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[RefreshToken] [varbinary](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleModel]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModel](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[Version] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_VehicleModel] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleModelParts]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModelParts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ModelID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_VehicleModelParts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VehicleModelParts_ModelPart] UNIQUE NONCLUSTERED 
(
	[ModelID] ASC,
	[PartID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[VIN] [nvarchar](17) NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[Color] [nvarchar](30) NULL,
	[CurrentMileage] [int] NOT NULL,
	[LastServiceDate] [date] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ModelID] [int] NULL,
	[PurchaseDate] [date] NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Vehicles_LicensePlate] UNIQUE NONCLUSTERED 
(
	[LicensePlate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Vehicles_VIN] UNIQUE NONCLUSTERED 
(
	[VIN] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrderParts]    Script Date: 06/11/2025 12:26:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrderParts](
	[PartID] [int] NOT NULL,
	[QuantityUsed] [int] NOT NULL,
	[VehicleModelPartID] [int] NULL,
	[WorkOrderPartID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ApprovedByStaffId] [int] NULL,
	[ConsumedAt] [datetime2](7) NULL,
	[Status] [nvarchar](50) NULL,
	[CategoryID] [int] NULL,
 CONSTRAINT [PK_WorkOrderParts] PRIMARY KEY CLUSTERED 
(
	[WorkOrderPartID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_AppliedCreditId]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_AppliedCreditId] ON [dbo].[Bookings]
(
	[AppliedCreditId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_ServiceID]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_ServiceID] ON [dbo].[Bookings]
(
	[ServiceID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_TechnicianSlotId]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_TechnicianSlotId] ON [dbo].[Bookings]
(
	[TechnicianSlotId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Bookings_TechnicianSlotId_Active]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Bookings_TechnicianSlotId_Active] ON [dbo].[Bookings]
(
	[TechnicianSlotId] ASC
)
WHERE (([Status] IN ('PENDING', 'CONFIRMED', 'IN_PROGRESS')) AND [TechnicianSlotId] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ConversationMembers_Guest]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_ConversationMembers_Guest] ON [dbo].[ConversationMembers]
(
	[GuestSessionID] ASC
)
WHERE ([GuestSessionID] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConversationMembers_User]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_ConversationMembers_User] ON [dbo].[ConversationMembers]
(
	[UserID] ASC
)
WHERE ([UserID] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ConversationMembers_Conversation_Guest]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ConversationMembers_Conversation_Guest] ON [dbo].[ConversationMembers]
(
	[ConversationID] ASC,
	[GuestSessionID] ASC
)
WHERE ([GuestSessionID] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_ConversationMembers_Conversation_User]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ConversationMembers_Conversation_User] ON [dbo].[ConversationMembers]
(
	[ConversationID] ASC,
	[UserID] ASC
)
WHERE ([UserID] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Customers_UserID]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Customers_UserID] ON [dbo].[Customers]
(
	[UserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerServiceCredits_CustomerId]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_CustomerServiceCredits_CustomerId] ON [dbo].[CustomerServiceCredits]
(
	[CustomerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerServiceCredits_CustomerService]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_CustomerServiceCredits_CustomerService] ON [dbo].[CustomerServiceCredits]
(
	[CustomerId] ASC,
	[ServiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerServiceCredits_ExpiryDate]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_CustomerServiceCredits_ExpiryDate] ON [dbo].[CustomerServiceCredits]
(
	[ExpiryDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerServiceCredits_PackageId]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_CustomerServiceCredits_PackageId] ON [dbo].[CustomerServiceCredits]
(
	[PackageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerServiceCredits_ServiceId]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_CustomerServiceCredits_ServiceId] ON [dbo].[CustomerServiceCredits]
(
	[ServiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CustomerServiceCredits_Status]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_CustomerServiceCredits_Status] ON [dbo].[CustomerServiceCredits]
(
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_Customer]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_Customer] ON [dbo].[Feedbacks]
(
	[CustomerID] ASC,
	[CreatedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_Order]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_Order] ON [dbo].[Feedbacks]
(
	[OrderID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Inv_Center]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Inv_Center] ON [dbo].[Inventory]
(
	[CenterID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryParts_InventoryID]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_InventoryParts_InventoryID] ON [dbo].[InventoryParts]
(
	[InventoryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryParts_PartID]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_InventoryParts_PartID] ON [dbo].[InventoryParts]
(
	[PartID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_Booking]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Booking] ON [dbo].[Invoices]
(
	[BookingID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_OrderID]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_OrderID] ON [dbo].[Invoices]
(
	[OrderID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_Status]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Status] ON [dbo].[Invoices]
(
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaintenanceChecklistResults_Result]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceChecklistResults_Result] ON [dbo].[MaintenanceChecklistResults]
(
	[Result] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaintenanceChecklistResults_Status]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceChecklistResults_Status] ON [dbo].[MaintenanceChecklistResults]
(
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceChecklists_BookingID]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceChecklists_BookingID] ON [dbo].[MaintenanceChecklists]
(
	[BookingID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaintenanceChecklists_Status]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceChecklists_Status] ON [dbo].[MaintenanceChecklists]
(
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MCL_TemplateId]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_MCL_TemplateId] ON [dbo].[MaintenanceChecklists]
(
	[TemplateId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaintenanceReminders_Vehicle_Status_DueDate]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceReminders_Vehicle_Status_DueDate] ON [dbo].[MaintenanceReminders]
(
	[VehicleID] ASC,
	[Status] ASC,
	[DueDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MR_ServiceID]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_MR_ServiceID] ON [dbo].[MaintenanceReminders]
(
	[ServiceID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_Conversation_CreatedAt]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Messages_Conversation_CreatedAt] ON [dbo].[Messages]
(
	[ConversationID] ASC,
	[CreatedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Messages_SenderGuest]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Messages_SenderGuest] ON [dbo].[Messages]
(
	[SenderGuestSessionID] ASC
)
WHERE ([SenderGuestSessionID] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_SenderUser]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Messages_SenderUser] ON [dbo].[Messages]
(
	[SenderUserID] ASC
)
WHERE ([SenderUserID] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderID]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderID] ON [dbo].[OrderItems]
(
	[OrderID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_PartID]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_PartID] ON [dbo].[OrderItems]
(
	[PartID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CreatedAt]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CreatedAt] ON [dbo].[Orders]
(
	[CreatedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerID]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerID] ON [dbo].[Orders]
(
	[CustomerID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Created]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Created] ON [dbo].[Payments]
(
	[CreatedAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 06/11/2025 12:26:42 SA ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Status] ON [dbo].[Payments]
(
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Promotions_ActiveDate]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_ActiveDate] ON [dbo].[Promotions]
(
	[StartDate] ASC,
	[EndDate] ASC
)
WHERE ([Status]=N'ACTIVE')
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Promotions_StatusDates]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_StatusDates] ON [dbo].[Promotions]
(
	[Status] ASC,
	[StartDate] ASC,
	[EndDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ServiceCenters_CenterName]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ServiceCenters_CenterName] ON [dbo].[ServiceCenters]
(
	[CenterName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ServiceCenters_PhoneNumber]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ServiceCenters_PhoneNumber] ON [dbo].[ServiceCenters]
(
	[PhoneNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceChecklistTemplateItems_TemplateID_CategoryId]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ServiceChecklistTemplateItems_TemplateID_CategoryId] ON [dbo].[ServiceChecklistTemplateItems]
(
	[TemplateID] ASC,
	[CategoryId] ASC
)
WHERE ([CategoryId] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServicePackages_IsActive]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_ServicePackages_IsActive] ON [dbo].[ServicePackages]
(
	[IsActive] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ServicePackages_PackageCode]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_ServicePackages_PackageCode] ON [dbo].[ServicePackages]
(
	[PackageCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServicePackages_ServiceId]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_ServicePackages_ServiceId] ON [dbo].[ServicePackages]
(
	[ServiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServicePackages_ValidDates]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_ServicePackages_ValidDates] ON [dbo].[ServicePackages]
(
	[ValidFrom] ASC,
	[ValidTo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Staffs_User_Active]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Staffs_User_Active] ON [dbo].[Staff]
(
	[UserID] ASC
)
WHERE ([IsActive]=(1))
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Technicians_User_Active]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Technicians_User_Active] ON [dbo].[Technicians]
(
	[UserID] ASC
)
WHERE ([IsActive]=(1))
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TTS_DateSlot]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_TTS_DateSlot] ON [dbo].[TechnicianTimeSlots]
(
	[WorkDate] ASC,
	[SlotID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TechnicianTimeSlots_TechnicianDateSlot]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_TechnicianTimeSlots_TechnicianDateSlot] ON [dbo].[TechnicianTimeSlots]
(
	[TechnicianID] ASC,
	[WorkDate] ASC,
	[SlotID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPromotions_Customer]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserPromotions_Customer] ON [dbo].[UserPromotions]
(
	[CustomerID] ASC,
	[UsedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPromotions_Promotion]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserPromotions_Promotion] ON [dbo].[UserPromotions]
(
	[PromotionID] ASC,
	[UsedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPromotions_Service]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserPromotions_Service] ON [dbo].[UserPromotions]
(
	[ServiceID] ASC,
	[UsedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserPromotions_Promo_Booking]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_UserPromotions_Promo_Booking] ON [dbo].[UserPromotions]
(
	[PromotionID] ASC,
	[BookingID] ASC
)
WHERE ([BookingID] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserPromotions_Promo_Order]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_UserPromotions_Promo_Order] ON [dbo].[UserPromotions]
(
	[PromotionID] ASC,
	[OrderID] ASC
)
WHERE ([OrderID] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VehicleModel_ModelName]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_VehicleModel_ModelName] ON [dbo].[VehicleModel]
(
	[ModelName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WOP_VehicleModelPartID]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_WOP_VehicleModelPartID] ON [dbo].[WorkOrderParts]
(
	[VehicleModelPartID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkOrderParts_BookingID]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_WorkOrderParts_BookingID] ON [dbo].[WorkOrderParts]
(
	[BookingID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkOrderParts_CategoryID]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_WorkOrderParts_CategoryID] ON [dbo].[WorkOrderParts]
(
	[CategoryID] ASC
)
WHERE ([CategoryID] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkOrderParts_PartID]    Script Date: 06/11/2025 12:26:43 SA ******/
CREATE NONCLUSTERED INDEX [IX_WorkOrderParts_PartID] ON [dbo].[WorkOrderParts]
(
	[PartID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Bookings_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Bookings_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Bookings_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Conversations] ADD  CONSTRAINT [DF_Conversations_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_IsGuest]  DEFAULT ((1)) FOR [IsGuest]
GO
ALTER TABLE [dbo].[CustomerServiceCredits] ADD  DEFAULT ((0)) FOR [UsedCredits]
GO
ALTER TABLE [dbo].[CustomerServiceCredits] ADD  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[CustomerServiceCredits] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[CustomerServiceCredits] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerServiceCredits] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_LastUpdated]  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[InventoryParts] ADD  CONSTRAINT [DF_InventoryParts_CurrentStock]  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[InventoryParts] ADD  CONSTRAINT [DF_InventoryParts_MinimumStock]  DEFAULT ((0)) FOR [MinimumStock]
GO
ALTER TABLE [dbo].[InventoryParts] ADD  CONSTRAINT [DF_InventoryParts_LastUpdated]  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_Status]  DEFAULT (N'DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_PackageDiscount]  DEFAULT ((0)) FOR [PackageDiscountAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_PromotionDiscount]  DEFAULT ((0)) FOR [PromotionDiscountAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_PartsAmount]  DEFAULT ((0)) FOR [PartsAmount]
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[MaintenanceChecklists] ADD  CONSTRAINT [DF_MaintenanceChecklists_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MaintenanceChecklists] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[MaintenanceReminders] ADD  CONSTRAINT [DF_MaintenanceReminders_IsCompleted]  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[MaintenanceReminders] ADD  CONSTRAINT [DF_MaintenanceReminders_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF_Messages_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Noti_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[OTPCodes] ADD  CONSTRAINT [DF_OTPCodes_IsUsed]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[OTPCodes] ADD  CONSTRAINT [DF_OTPCodes_Attempt]  DEFAULT ((0)) FOR [AttemptCount]
GO
ALTER TABLE [dbo].[OTPCodes] ADD  CONSTRAINT [DF_OTPCodes_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parts] ADD  CONSTRAINT [DF_Parts_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Parts] ADD  CONSTRAINT [DF_Parts_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Pay_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Pay_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Pay_PaymentMethod]  DEFAULT ('PAYOS') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_UsageCount]  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceCenters] ADD  CONSTRAINT [DF_Centers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceCenters] ADD  CONSTRAINT [DF_Centers_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceChecklistTemplateItems] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceChecklistTemplates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceChecklistTemplates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceChecklistTemplates] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ServicePackages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServicePackages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServicePackages] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_Settings_Updated]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Tech_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Tech_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] ADD  CONSTRAINT [DF_TTS_IsAvail]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] ADD  CONSTRAINT [DF_TTS_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  CONSTRAINT [DF_TimeSlots_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserPromotions] ADD  CONSTRAINT [DF_UserPromotions_UsedAt]  DEFAULT (sysdatetime()) FOR [UsedAt]
GO
ALTER TABLE [dbo].[UserPromotions] ADD  CONSTRAINT [DF_UserPromotions_Status]  DEFAULT (N'USED') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_EmailVerified]  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VehicleModel] ADD  CONSTRAINT [DF_VehicleModel_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VehicleModel] ADD  CONSTRAINT [DF_VehicleModel_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VehicleModelParts] ADD  CONSTRAINT [DF_VehicleModel_UpdatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vehicles] ADD  CONSTRAINT [DF_Vehicles_Mileage]  DEFAULT ((0)) FOR [CurrentMileage]
GO
ALTER TABLE [dbo].[Vehicles] ADD  CONSTRAINT [DF_Vehicles_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_AppliedCredit] FOREIGN KEY([AppliedCreditId])
REFERENCES [dbo].[CustomerServiceCredits] ([CreditId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_AppliedCredit]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Customers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_ServiceCenters] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_ServiceCenters]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Services_ServiceID] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Services_ServiceID]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_TechnicianTimeSlots_TechnicianSlotId] FOREIGN KEY([TechnicianSlotId])
REFERENCES [dbo].[TechnicianTimeSlots] ([TechnicianSlotID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_TechnicianTimeSlots_TechnicianSlotId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Vehicles]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_LastMessage] FOREIGN KEY([LastMessageID])
REFERENCES [dbo].[Messages] ([MessageID])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_LastMessage]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[CustomerServiceCredits]  WITH CHECK ADD  CONSTRAINT [FK_CustomerServiceCredits_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[CustomerServiceCredits] CHECK CONSTRAINT [FK_CustomerServiceCredits_CustomerId]
GO
ALTER TABLE [dbo].[CustomerServiceCredits]  WITH CHECK ADD  CONSTRAINT [FK_CustomerServiceCredits_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[ServicePackages] ([PackageId])
GO
ALTER TABLE [dbo].[CustomerServiceCredits] CHECK CONSTRAINT [FK_CustomerServiceCredits_PackageId]
GO
ALTER TABLE [dbo].[CustomerServiceCredits]  WITH CHECK ADD  CONSTRAINT [FK_CustomerServiceCredits_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[CustomerServiceCredits] CHECK CONSTRAINT [FK_CustomerServiceCredits_ServiceId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Customers]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Orders]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Parts]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Technicians] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Technicians]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_ServiceCenters] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_ServiceCenters]
GO
ALTER TABLE [dbo].[InventoryParts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryParts_Inventory] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[InventoryParts] CHECK CONSTRAINT [FK_InventoryParts_Inventory]
GO
ALTER TABLE [dbo].[InventoryParts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryParts_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[InventoryParts] CHECK CONSTRAINT [FK_InventoryParts_Parts]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Bookings]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Orders]
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceChecklistResults_MaintenanceChecklists] FOREIGN KEY([ChecklistID])
REFERENCES [dbo].[MaintenanceChecklists] ([ChecklistID])
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults] CHECK CONSTRAINT [FK_MaintenanceChecklistResults_MaintenanceChecklists]
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceChecklistResults_PartCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[PartCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults] CHECK CONSTRAINT [FK_MaintenanceChecklistResults_PartCategories]
GO
ALTER TABLE [dbo].[MaintenanceChecklists]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceChecklists_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[MaintenanceChecklists] CHECK CONSTRAINT [FK_MaintenanceChecklists_Bookings]
GO
ALTER TABLE [dbo].[MaintenanceChecklists]  WITH CHECK ADD  CONSTRAINT [FK_MCL_Templates] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[ServiceChecklistTemplates] ([TemplateID])
GO
ALTER TABLE [dbo].[MaintenanceChecklists] CHECK CONSTRAINT [FK_MCL_Templates]
GO
ALTER TABLE [dbo].[MaintenanceReminders]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceReminders_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[MaintenanceReminders] CHECK CONSTRAINT [FK_MaintenanceReminders_Services]
GO
ALTER TABLE [dbo].[MaintenanceReminders]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceReminders_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[MaintenanceReminders] CHECK CONSTRAINT [FK_MaintenanceReminders_Vehicles]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_ReplyTo] FOREIGN KEY([ReplyToMessageID])
REFERENCES [dbo].[Messages] ([MessageID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_ReplyTo]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Parts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[OTPCodes]  WITH CHECK ADD  CONSTRAINT [FK_OTPCodes_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OTPCodes] CHECK CONSTRAINT [FK_OTPCodes_Users]
GO
ALTER TABLE [dbo].[PartCategoryMaps]  WITH CHECK ADD  CONSTRAINT [FK_PartCategoryMaps_PartCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[PartCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[PartCategoryMaps] CHECK CONSTRAINT [FK_PartCategoryMaps_PartCategories]
GO
ALTER TABLE [dbo].[PartCategoryMaps]  WITH CHECK ADD  CONSTRAINT [FK_PartCategoryMaps_Parts] FOREIGN KEY([PartId])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[PartCategoryMaps] CHECK CONSTRAINT [FK_PartCategoryMaps_Parts]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoices]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PaidByUser] FOREIGN KEY([PaidByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PaidByUser]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users_PaidByUserID] FOREIGN KEY([PaidByUserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users_PaidByUserID]
GO
ALTER TABLE [dbo].[ServiceChecklistTemplateItems]  WITH CHECK ADD  CONSTRAINT [FK_SCTI_Templates] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[ServiceChecklistTemplates] ([TemplateID])
GO
ALTER TABLE [dbo].[ServiceChecklistTemplateItems] CHECK CONSTRAINT [FK_SCTI_Templates]
GO
ALTER TABLE [dbo].[ServiceChecklistTemplateItems]  WITH CHECK ADD  CONSTRAINT [FK_ServiceChecklistTemplateItems_PartCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[PartCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[ServiceChecklistTemplateItems] CHECK CONSTRAINT [FK_ServiceChecklistTemplateItems_PartCategories]
GO
ALTER TABLE [dbo].[ServiceChecklistTemplates]  WITH CHECK ADD  CONSTRAINT [FK_ServiceChecklistTemplates_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[ServiceChecklistTemplates] CHECK CONSTRAINT [FK_ServiceChecklistTemplates_Services]
GO
ALTER TABLE [dbo].[ServicePackages]  WITH CHECK ADD  CONSTRAINT [FK_ServicePackages_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[ServicePackages] CHECK CONSTRAINT [FK_ServicePackages_ServiceId]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_ServiceCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ServiceCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_ServiceCategories]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Centers] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Centers]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Users]
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [FK_Technicians_ServiceCenters] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [FK_Technicians_ServiceCenters]
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [FK_Technicians_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [FK_Technicians_Users]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_TechnicianTimeSlots_Technicians] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] CHECK CONSTRAINT [FK_TechnicianTimeSlots_Technicians]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_TechnicianTimeSlots_TimeSlots] FOREIGN KEY([SlotID])
REFERENCES [dbo].[TimeSlots] ([SlotID])
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] CHECK CONSTRAINT [FK_TechnicianTimeSlots_TimeSlots]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_BookingID] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_BookingID]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Bookings]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Customers]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Orders]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Promotions] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Promotions]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Services]
GO
ALTER TABLE [dbo].[VehicleModelParts]  WITH CHECK ADD  CONSTRAINT [FK_VehicleModelParts_Model] FOREIGN KEY([ModelID])
REFERENCES [dbo].[VehicleModel] ([ModelID])
GO
ALTER TABLE [dbo].[VehicleModelParts] CHECK CONSTRAINT [FK_VehicleModelParts_Model]
GO
ALTER TABLE [dbo].[VehicleModelParts]  WITH CHECK ADD  CONSTRAINT [FK_VehicleModelParts_Part] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[VehicleModelParts] CHECK CONSTRAINT [FK_VehicleModelParts_Part]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Customers]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_VehicleModel] FOREIGN KEY([ModelID])
REFERENCES [dbo].[VehicleModel] ([ModelID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_VehicleModel]
GO
ALTER TABLE [dbo].[WorkOrderParts]  WITH CHECK ADD  CONSTRAINT [FK_WorkOrderParts_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[WorkOrderParts] CHECK CONSTRAINT [FK_WorkOrderParts_Bookings]
GO
ALTER TABLE [dbo].[WorkOrderParts]  WITH CHECK ADD  CONSTRAINT [FK_WorkOrderParts_PartCategories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[PartCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[WorkOrderParts] CHECK CONSTRAINT [FK_WorkOrderParts_PartCategories_CategoryID]
GO
ALTER TABLE [dbo].[WorkOrderParts]  WITH CHECK ADD  CONSTRAINT [FK_WorkOrderParts_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[WorkOrderParts] CHECK CONSTRAINT [FK_WorkOrderParts_Parts]
GO
ALTER TABLE [dbo].[WorkOrderParts]  WITH CHECK ADD  CONSTRAINT [FK_WorkOrderParts_VehicleModelParts] FOREIGN KEY([VehicleModelPartID])
REFERENCES [dbo].[VehicleModelParts] ([ID])
GO
ALTER TABLE [dbo].[WorkOrderParts] CHECK CONSTRAINT [FK_WorkOrderParts_VehicleModelParts]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_AppliedCreditId] CHECK  (([AppliedCreditId] IS NULL OR [AppliedCreditId]>(0)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_AppliedCreditId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_CurrentMileage] CHECK  (([CurrentMileage] IS NULL OR [CurrentMileage]>=(0)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_CurrentMileage]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Status] CHECK  (([Status]='CANCELLED' OR [Status]='PAID' OR [Status]='COMPLETED' OR [Status]='IN_PROGRESS' OR [Status]='CONFIRMED' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Status]
GO
ALTER TABLE [dbo].[ConversationMembers]  WITH CHECK ADD CHECK  (([RoleInConversation]='GUEST' OR [RoleInConversation]='MANAGER' OR [RoleInConversation]='ADMIN' OR [RoleInConversation]='STAFF' OR [RoleInConversation]='CUSTOMER'))
GO
ALTER TABLE [dbo].[ConversationMembers]  WITH CHECK ADD  CONSTRAINT [CK_ConversationMembers_ActorXor] CHECK  (((case when [UserID] IS NULL then (0) else (1) end+case when [GuestSessionID] IS NULL then (0) else (1) end)=(1)))
GO
ALTER TABLE [dbo].[ConversationMembers] CHECK CONSTRAINT [CK_ConversationMembers_ActorXor]
GO
ALTER TABLE [dbo].[CustomerServiceCredits]  WITH CHECK ADD  CONSTRAINT [CK_CustomerServiceCredits_PurchaseExpiry] CHECK  (([PurchaseDate] IS NULL OR [ExpiryDate] IS NULL OR [PurchaseDate]<=[ExpiryDate]))
GO
ALTER TABLE [dbo].[CustomerServiceCredits] CHECK CONSTRAINT [CK_CustomerServiceCredits_PurchaseExpiry]
GO
ALTER TABLE [dbo].[CustomerServiceCredits]  WITH CHECK ADD  CONSTRAINT [CK_CustomerServiceCredits_Status] CHECK  (([Status]='CANCELLED' OR [Status]='USED_UP' OR [Status]='EXPIRED' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[CustomerServiceCredits] CHECK CONSTRAINT [CK_CustomerServiceCredits_Status]
GO
ALTER TABLE [dbo].[CustomerServiceCredits]  WITH CHECK ADD  CONSTRAINT [CK_CustomerServiceCredits_TotalCredits] CHECK  (([TotalCredits]>(0)))
GO
ALTER TABLE [dbo].[CustomerServiceCredits] CHECK CONSTRAINT [CK_CustomerServiceCredits_TotalCredits]
GO
ALTER TABLE [dbo].[CustomerServiceCredits]  WITH CHECK ADD  CONSTRAINT [CK_CustomerServiceCredits_UsedCredits] CHECK  (([UsedCredits]>=(0) AND [UsedCredits]<=[TotalCredits]))
GO
ALTER TABLE [dbo].[CustomerServiceCredits] CHECK CONSTRAINT [CK_CustomerServiceCredits_UsedCredits]
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults]  WITH CHECK ADD  CONSTRAINT [CK_MaintenanceChecklistResults_Result] CHECK  (([Result]='CANCELLED' OR [Result]='NA' OR [Result]='FAIL' OR [Result]='PASS' OR [Result]='PENDING'))
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults] CHECK CONSTRAINT [CK_MaintenanceChecklistResults_Result]
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults]  WITH CHECK ADD  CONSTRAINT [CK_MaintenanceChecklistResults_Status] CHECK  (([Status]='CANCELLED' OR [Status]='CHECKED' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults] CHECK CONSTRAINT [CK_MaintenanceChecklistResults_Status]
GO
ALTER TABLE [dbo].[MaintenanceChecklists]  WITH CHECK ADD  CONSTRAINT [CK_MaintenanceChecklists_Status] CHECK  (([Status]='CANCELLED' OR [Status]='COMPLETED' OR [Status]='IN_PROGRESS' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[MaintenanceChecklists] CHECK CONSTRAINT [CK_MaintenanceChecklists_Status]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [CK_Messages_SenderXor] CHECK  (((case when [SenderUserID] IS NULL then (0) else (1) end+case when [SenderGuestSessionID] IS NULL then (0) else (1) end)=(1)))
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [CK_Messages_SenderXor]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CK_OrderItems_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CK_OrderItems_Quantity]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CK_OrderItems_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CK_OrderItems_UnitPrice]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_DiscountType] CHECK  (([DiscountType]='FIXED' OR [DiscountType]='PERCENT'))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_DiscountType]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Status] CHECK  (([Status]='CANCELLED' OR [Status]='EXPIRED' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Status]
GO
ALTER TABLE [dbo].[ServiceCenters]  WITH CHECK ADD  CONSTRAINT [CK_ServiceCenters_IsActive] CHECK  (([IsActive]=(1) OR [IsActive]=(0)))
GO
ALTER TABLE [dbo].[ServiceCenters] CHECK CONSTRAINT [CK_ServiceCenters_IsActive]
GO
ALTER TABLE [dbo].[ServiceCenters]  WITH CHECK ADD  CONSTRAINT [CK_ServiceCenters_PhoneNumber_10Digits] CHECK  ((len([PhoneNumber])=(10) AND NOT [PhoneNumber] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[ServiceCenters] CHECK CONSTRAINT [CK_ServiceCenters_PhoneNumber_10Digits]
GO
ALTER TABLE [dbo].[ServicePackages]  WITH CHECK ADD  CONSTRAINT [CK_ServicePackages_DiscountPercent] CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[ServicePackages] CHECK CONSTRAINT [CK_ServicePackages_DiscountPercent]
GO
ALTER TABLE [dbo].[ServicePackages]  WITH CHECK ADD  CONSTRAINT [CK_ServicePackages_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[ServicePackages] CHECK CONSTRAINT [CK_ServicePackages_Price]
GO
ALTER TABLE [dbo].[ServicePackages]  WITH CHECK ADD  CONSTRAINT [CK_ServicePackages_TotalCredits] CHECK  (([TotalCredits]>(0)))
GO
ALTER TABLE [dbo].[ServicePackages] CHECK CONSTRAINT [CK_ServicePackages_TotalCredits]
GO
ALTER TABLE [dbo].[ServicePackages]  WITH CHECK ADD  CONSTRAINT [CK_ServicePackages_ValidDates] CHECK  (([ValidFrom] IS NULL OR [ValidTo] IS NULL OR [ValidFrom]<=[ValidTo]))
GO
ALTER TABLE [dbo].[ServicePackages] CHECK CONSTRAINT [CK_ServicePackages_ValidDates]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [CK_UserPromotions_DiscountAmount] CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [CK_UserPromotions_DiscountAmount]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [CK_UserPromotions_Status] CHECK  (([Status]='SAVED' OR [Status]='APPLIED' OR [Status]='USED'))
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [CK_UserPromotions_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Gender] CHECK  (([Gender] IS NULL OR (upper([Gender])=N'FEMALE' OR upper([Gender])=N'MALE')))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Gender]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [CK_Vehicles_CurrentMileage] CHECK  (([CurrentMileage]>=(0)))
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [CK_Vehicles_CurrentMileage]
GO
/****** Object:  StoredProcedure [dbo].[sp_WO_ApproveProposal]    Script Date: 06/11/2025 12:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_WO_ApproveProposal]
  @ProposalID INT,
  @ApprovedBy NVARCHAR(100)
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.WorkOrderChargeProposals
  SET Status='APPROVED', ApprovedAt=sysdatetime(), ApprovedBy=@ApprovedBy
  WHERE ProposalID=@ProposalID AND Status='PENDING';
  IF @@ROWCOUNT=0 THROW 51100, 'Proposal khong ton tai hoac khong o PENDING', 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_WO_CreateProposal]    Script Date: 06/11/2025 12:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_WO_CreateProposal]
  @WorkOrderID INT,
  @Note NVARCHAR(500) = NULL,
  @ProposalID INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO dbo.WorkOrderChargeProposals(WorkOrderID, Note) VALUES(@WorkOrderID, @Note);
  SET @ProposalID = SCOPE_IDENTITY();
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'URL of the vehicle model image' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VehicleModel', @level2type=N'COLUMN',@level2name=N'ImageUrl'
GO
